[hub]
  protocol = ssh

[alias]
  b = branch
  c = commit
  co = checkout

  cb = current-branch
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort

  d = diff
  ds = diff --staged
  lo = log --oneline
  pl = pull
  p = push

  r = root
  rb = rebase --allow-empty-message -i
  rbc = rebase --continue
  rba = rebase --abort

  s = status

  pls = commit -svp
  amen = commit -svp --amend

[user]
  name = toby lorne
  email = toby@toby.codes

[pull]
  rebase = true

[init]
  defaultBranch = main

[includeIf "gitdir:~/git_tree/"]
  path = ~/.gitconfig_b

[push]
	default = current
